body{
	color: #000000;
	box-sizing: border-box;
}
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0px 30px 0px 0px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0px;
    color: #0a3c97;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background: #e9f6fe;
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
h3,h2,h1 {
    padding: 0;
    margin: 0;
}
.search-box-cont {
    align-self: center;
}

.search-box-cont input[type="text"] {
    font-size: 1.5em;
    padding: 0px 10px;
    border: 1px solid #284e91;
}

.search-box-cont input[type="submit"] {
    font-size: 1.5em;
    padding: 0px 10px;
    background: #0a3c97;
    color: white;
    border: 1px solid #0a3c97;
}
.banner-area {
    background: url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vh 0;
}


.banner-text {
    width: 50%;
    text-align: center;
}

.banner-text-cont h3 {
    font-weight: bold;
}
h3.banner-txt2 {
    color: #0a3c97;
}

h3.banner-txt1 {
    color: #000000;
}

h3.sec-tt {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
}
.booking-panel {
    width: 60%;
    margin: 15vh auto;
    text-align: center;
    background: #b3dbf1;
    padding: 5vh 0;
    font-weight: bold;
}

.booking-panel ul {
    display: flex;
    justify-content: space-evenly;
}

.dummy-box {
    width: 100px;
    height: 100px;
    background: #0a3c97;
}

.booking-panel ul li {
    align-self: center;
}

.booking-panel h2 {
    font-size: 2em;
    font-weight: bold;
}
.booking-button {
    padding: 20px;
    background: black;
    color: white;
}
.carousel-indicators li {
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    background: rgb(0 0 0 / 50%);
}

.carousel-indicators .active {
    height: 15px;
    width: 15px;
    background: #ffffff;
}
.carousel-inner {
    text-align: center;
}

.gallery-panel {
    margin-bottom: 10vh;
    width: 60%;
    margin: auto;
}

.sec-tt {margin-bottom: 5vh;}
a.carousel-control-prev {
    left: 15%;
}
.carousel-control-next {
    right: 15%;
}
.intro-panel {
    margin: 15vh auto;
    width: 60%;
}

p.intro-para {
    font-size: 1.5em;
    line-height: 2em;
}

.package-panel {
    margin: 15vh auto;
    width: 60%;
}

.package-panel-division {
    display: flex;
    justify-content: space-between;
}

.party-panel h3 {
    margin: 2vh 0;
    text-align: center;
}

.party-panel {text-align: center;align-self: center;}

.package-panel-btn {
    background: #0a3c97;
    color: white;
    border: 1px solid #0a3c97;
    padding: 5px 10px;
    font-size: 1.5em;
    margin-top: 10px;
}

.grid-panel {
    display: flex;
    align-self: center;
}

.grid-panel ul li {position: relative;width: 200px;height: 200px;margin: 5px 5px 0px 0px;}

.grid-panel ul li img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.grid-panel ul li div {
    background: #0a3c97;
    color: #fff;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.party-banner {
    position: relative;
    height: 410px;
    width: 550px;
    background: url(../img/party-pic.png);
    background-size: cover;
}
footer {
    background: #0a3c97;
    padding: 5%;
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-between;
}
b.foot-tt {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

footer ul li {margin-right: 10px;}
li.foot-social-icon {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px;
}
p.foot-sec-desc {
    font-size: 1.5em;
}
li.foot-social-icon img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
}
h3.package-panel-st {
    margin-bottom: 20px;
    font-size: 1.5em;
}

button.package-panel-btn {
    font-size: 1.5em;
}
h3.package-panel-st {
    margin-bottom: 20px;
    font-size: 1.5em;
    width: 45%;
    text-align: center;
}
.pkg-pan-btn-contt {
    width: 45%;
    text-align: center;
}
.whole-container {
    background: white;
}
/*MEDIA MEDIA MEDIA MEDIA MOBILE MOBILE RESPONSIVE RESPONSIVE*/
@media only screen and (min-width: 760px){
header nav ul li {
    font-size: 1em;
    margin: 0px 10px 0px 0px;
}
p.foot-sec-desc {
    font-size: 1.2em;
}
.search-box-cont input[type="text"] {
    width: 115px;
    font-size: 1em;
    padding: 5px;
}

input[type="submit"] {}

.search-box-cont input[type="submit"] {
    font-size: 1em;
    padding: 5px;
}

.package-panel {
    width: 90%;
    margin: 5vh auto;
}

.party-banner {
    width: 300px;
    height: 300px;
}

.grid-panel ul li {
    width: 145px;
    height: 145px;
}

.grid-panel ul li div {
    font-size: 0.6em;
    height: 145px;
    padding: 5px;
}

.package-panel-btn {
    font-size: 1em;
}

.intro-panel {
    width: 90%;
    margin: 10vh auto;
}

.gallery-panel {
    width: 90%;
}

.banner-text {
}

.booking-panel {
    width: 90%;
    margin: 5vh auto;
}

.booking-button {
    padding: 10px;
}

p.booking-button-t1 {
    font-size: 0.8em;
}

p.booking-button-t2 {
    font-size: 0.6em;
}
h3.banner-txt1 {
    font-size: 1.2em;
}

h3.banner-txt2 {
    font-size: 1.2em;
}
img.sec2-carousel-img {
    width: 220px;
}
li.foot-social-icon {
    height: 30px;
    width: 30px;
}
h3.sec-tt {
    margin-bottom: 2vh;
}
.banner-area {
    padding: 3vh 0;
}
h3.package-panel-st {
    font-size: 1.2em;
    margin-bottom: 20px;
}
p.au-tt {background: #b3dbf1;padding: 20px;font-size: 1.5em;text-align: center;}

.mid-contt {
    width: 80%;
    margin: auto;
}

.au-sec2-contt, .au-sec3-contt,.au-sec4-contt,.au-sec5-contt {
    margin: 30px 0px;
}

p.au-sec2-desc {
    font-size: 1em;
    line-height: 1.5em;
}

img.au-sec3-carousel-img {
    height: 200px;
}

ul.au-sec4-desc-cont {
    display: flex;
    justify-content: space-between;
}

p.au-sec4-list-tt {
    margin: 0;
    font-weight: bold;
    color: #3b588b;
}

ul.au-sec4-desc-cont ol {
    width: 48%;
}

.au-sec5-contt {
    display: flex;
    justify-content: space-between;
}

.other-prop-contt {
    position: relative;
    width: 250px;
    height: 200px;
    background: #b3dbf1;
    display: flex;
    flex-direction: column;
}

.other-prop-contt img {
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
}

.other-prop-contt p {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.rating-contt p {
    font-weight: bold;
    text-align: center;
}

.review-contt div p {
    color: #3b588b;
    margin: 0;
    text-transform: capitalize;
}

.review-contt div {
    margin-bottom: 20px;
}

span.review-stars-contt {
    background: #22447e;
    padding: 2px 5px;
    color: white;
    border: 1px solid #22447e;
    border-radius: 10px;
    margin-left: 5px;
}
.au-sec5-contt {
    margin-top: 100px;
}
}

@media only screen and (min-width: 1024px){
h3.banner-txt1 {
    font-size: 1.5em;
}

h3.banner-txt2 {
    font-size: 1.5em;
}

.banner-text-cont h1 {
    margin: 20px 0px;
}

img.sec2-carousel-img {
    width: 300px;
}

.party-banner {
    width: 430px;
    height: 400px;
}

.grid-panel ul li {
    width: 200px;
    height: 200px;
}

.grid-panel ul li div {
    height: 200px;
    font-size: 0.8em;
}
header nav ul li {
    margin: 0px 30px 0px 0px;
}

.search-box-cont input[type="text"] {
    width: 200px;
}
h3.package-panel-st {
    margin: 50px 0px 20px 0px;
    font-size: 1.5em;
}
.package-panel-btn {
    font-size: 1em;
}
.other-prop-contt {
    width: 400px;
    height: 300px;
}

p.au-sec2-desc {
    font-size: 1.3em;
    line-height: 2em;
}

p.au-sec4-list-tt {
    font-size: 1.5em;
}

p.au-sec4-list-desc {
    font-size: 1.2em;
}
.other-prop-contt p {
    margin: 20px 0px 0px 0px;
}

}

@media only screen and (min-width: 1280px){
header nav ul li {
    font-size: 1.5em;
}

h3.banner-txt1 {
    font-size: 2em;
}

h3.banner-txt2 {font-size: 2em;}

.banner-area {
    padding: 6vh;
}

img.sec2-carousel-img {
    width: 370px;
}

h3.sec-tt {
    font-size: 2em;
}

.party-banner {
    width: 450px;
    height: 450px;
}

.grid-panel ul li {
    height: 220px;
    width: 220px;
}

.grid-panel ul li div {
    height: 220px;
}	
} 

@media only screen and (min-width: 1366px){
img.sec2-carousel-img {
    width: 400px;
}

.party-banner {
    width: 550px;
    height: 550px;
}

.grid-panel ul li {
    height: 270px;
    width: 270px;
}

.grid-panel ul li div {
    height: 270px;
    font-size: 1.2em;
}
p.foot-sec-desc {
    font-size: 1.5em;
}
li.foot-social-icon {
    height: 50px;
    width: 50px;
}	
}
@media only screen and (min-width: 1440px ){
.party-banner {
    width: 600px;
}
img.sec2-carousel-img {
    width: 420px;
}	
}

@media only screen and (min-width: 1600px){
img.sec2-carousel-img {
    width: 470px;
}

.party-banner {
    width: 700px;
    height: 700px;
}

.grid-panel ul li {
    height: 345px;
    width: 345px;
}

.grid-panel ul li div {
    height: 345px;
    font-size: 1.5em;
}

h3.package-panel-st {
    font-size: 2em;
}	
}

@media only screen and (min-width: 1920px){
body {
    width: 1920px;
    margin: auto;
    background: #d9f1ff;
}
}